<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aps2020.CatalogoFilmes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppCompat"
        android:usesCleartextTraffic="true">
        <!-- Splash Screen -->
        <activity
            android:name="com.catalogoFilmes.activitys.SplashGTR"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.catalogoFilmes.activitys.PaginaInicial"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.TelaInicial" />
        <activity
            android:name="com.catalogoFilmes.activitys.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.Animacao" />
        <activity
            android:name="com.catalogoFilmes.activitys.GeneroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.Animacao" />
        <activity
            android:name="com.catalogoFilmes.activitys.DiretorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.Animacao" />
        <activity
            android:name="com.catalogoFilmes.activitys.AdicionarEditarFilmesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.Animacao" />

    </application>

</manifest>